html,
body {
  height: 100%;
}

select {
  background: var(--vscode-dropdown-background);
  color: var(--vscode-dropdown-foreground);
  border: 1px solid var(--vscode-dropdown-border);
  padding: 3px;
  min-width: 100px;
}

input {
  background: var(--vscode-input-background);
  border: var(--vscode-input-border);
  color: var(--vscode-input-foreground);
  padding: 4px;
}

button {
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  padding: 4px 8px;
  border: 0px;
}

button:hover {
  background: var(--vscode-button-hoverBackground);
  cursor: pointer;
}

button.disabled {
  background: var(--vscode-activityBar-background);
  color: var(--vscode-activityBar-inactiveForeground);
  pointer-events: none;
}

a {
  color: var(--vscode-editorLink-activeForeground);
  margin: 4px;
}

a:hover {
  background: var(--vscode-editor-hoverHighlightBackground);
  cursor: pointer;
}

main {
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 60% 40%;
  height: 100%;
}

.package-search {
  align-self: center;

  #search-text {
    width: 300px;
    margin-right: 5px;
  }
}

.source-select {
  grid-column: 2;
  justify-self: end;
  align-self: center;
}

.package-list {
  grid-row: 2;
  grid-column: 1;

  overflow-y: auto;

  .package-item {
    display: grid;
    grid-template-columns: 60px auto 60px;
    grid-template-rows: 20px auto;
    grid-gap: 3px;

    height: 60px;
    margin: 3px;
    overflow: hidden;
    height: 60px;
    margin: 3px;

    &:hover {
      background: var(--vscode-list-hoverBackground);
      color: var(--vscode-list-hoverForeground);
      cursor: pointer;
    }

    &.selected {
      background: var(--vscode-list-activeSelectionBackground);
      color: var(--vscode-list-activeSelectionForeground);
    }

    img {
      grid-row: 1 / 3;
      height: 50px;
      width: 50px;
      margin: 5px;
    }

    .title {
      grid-column: 2 / 3;
      overflow: hidden;
    }

    .version {
      grid-column: 3;
      margin-right: 2px;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.project-metadata-container {
  grid-row: 2;
  grid-column: 2;

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    width: 100%;
    padding-bottom: 10px;

    .package-name {
      font-size: 1.25em;
    }
  }

  .project-list {
    padding-bottom: 10px;
    border-top: 1px solid var(--vscode-sideBar-border);
    border-bottom: 1px solid var(--vscode-sideBar-border);

    .project-item {
      margin-bottom: 4px;
    }
  }

  .metadata-container {
    overflow-y: auto;
  }
}
